/* Container Styles */
.dvl-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: #f9f9f9;

  .dvl-wrapper {
    display: flex;
    gap: 2rem;
    width: 100%;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    overflow: hidden;

    .dvl-col-1 {
      flex: 1;
      padding: 20px;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      .dvl-col-1-wrapper {
        display: flex;
        flex-direction: column;

        .icon-wrapper {
          padding: 20px 0;
          border-radius: 50%;
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          svg {
            width: 40px;
            height: 40px;
            fill: #00796b;
          }
        }

        .description-container {
          display: flex;
          flex-direction: column;
          gap: 0.5rem;

          .chief-description {
            color: #017a99;
            font-family: Manrope;
            font-size: 32px;
            font-weight: 600;
          }

          .normal-description {
            margin-top: 20px;
            color: #232c2b;
            font-family: Manrope;
            font-size: 20px;
            font-weight: 400;
          }
        }

        .learn-more-btn {
          flex: 1;
          text-align: start;
          margin: 24px 0 40px;

          a {
            text-decoration: none;
            color: #fff;
            font-family: Manrope;
            font-size: 16px;
            font-weight: 500;
            padding: 0.5rem 1rem;
            border-radius: 24px;
            background: #0fc0ed;

            &:hover {
              background-color: #00796b;
              color: #ffffff;
            }
          }
        }

        .horizontal-line {
          width: 100%;
          height: 1px;
          background-color: #e0e0e0;
        }

        .contact-section {
          margin-top: 40px;
          display: flex;
          gap: 20px;

          .contact-section-card {
            width: 219px;
            padding: 1rem;
            border-radius: 24px;
            background: rgba(15, 192, 237, 0.12);
            cursor: pointer;
            transition: box-shadow 0.3s ease;

            &:hover {
              box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
            }

            .contact-card-wrapper {
              display: flex;
              flex-direction: column;
              gap: 30px;

              .row-1 {
                display: flex;
                justify-content: space-between;

                .icon-separataor svg {
                  width: 24px;
                  height: 24px;
                  fill: #607d8b;
                }
              }

              .row-2 {
                span {
                  color: #017a99;
                  font-family: Manrope;
                  font-size: 16px;
                  font-weight: 600;
                }
              }
            }
          }
        }
      }
    }

    .dvl-col-2 {
      flex: 1 1;
      display: flex;
      align-items: center;
      gap: 20px;
      padding: 20px;
      justify-content: center;

      .img-1-wrapper {
        margin-bottom: 80px;

        img {
          max-width: 100%;
          border-radius: 400px;
        }
      }

      .img-2-wrapper {
        margin-top: 80px;

        img {
          max-width: 100%;
          border-radius: 400px;
        }
      }
    }
  }
}
