/* Container Styles */
.dvl-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  background-color: #f9f9f9;
}

/* Wrapper */
.dvl-wrapper {
  display: flex;
  gap: 2rem;
  width: 100%;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 24px;
  overflow: hidden;
}

/* Column 1 */
.dvl-col-1 {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.dvl-col-1-wrapper {
  display: flex;
  flex-direction: column;
}

/* Icon Section */
.icon-wrapper {
  padding: 20px 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.icon-wrapper svg {
  width: 40px;
  height: 40px;
  fill: #00796b;
}

/* Descriptions */
.description-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.chief-description {
  color: #017a99;
  font-family: Manrope;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.normal-description {
  margin-top: 20px;
  color: #232c2b;
  font-family: Manrope;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* Learn More Button */
.learn-more-btn {
  flex: 1;
  text-align: start;
  margin-top: 24px;
  margin-bottom: 40px;
}

.learn-more-btn a {
  text-decoration: none;
  color: #fff;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding: 0.5rem 1rem;
  border-radius: 24px;
  background: #0fc0ed;
}

.learn-more-btn a:hover {
  background-color: #00796b;
  color: #ffffff;
}

/* Horizontal Line */
.horizontal-line {
  width: 100%;
  height: 1px;
  background-color: #e0e0e0;
}

/* Contact Section */
.contact-section {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.contact-section-card {
    width: 219px;
  padding: 1rem;
  border-radius: 4px;
  transition: box-shadow 0.3s ease;
  border-radius: 24px;
  background: rgba(15, 192, 237, 0.12);

  cursor: pointer;

  &:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
}

.contact-card-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.row-1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.icon-separataor svg {
  width: 24px;
  height: 24px;
  fill: #607d8b;
}


.row-2 span {
  color: #017a99;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

/* Column 2 */
.dvl-col-2 {
    flex: 1 1;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    justify-content: center;
  // background-color: #f5f5f5;
}

.img-1-wrapper img,
.img-2-wrapper img {
  max-width: 100%;
  border-radius: 400px;
}

.img-1-wrapper {
    margin-bottom: 80px;
}
.img-2-wrapper {
  margin-top: 80px;
}
